/* link,visited,hover,active */

a:link{
    color: orange;
}
a:visited{
    color: red;
}
a:hover{
    color: green;
}
a:active{
    color: black;
}

input:focus{
    padding: 1px;
    outline: none;
    border: 1px solid greenyellow;
    border-radius: 4px;
}

::placeholder{
    color: purple;
}

input:required{
    color: turquoise;
}