body{
    font-family: Arial, Helvetica, sans-serif;
}

.box-wrapper{
    border: 10px solid black;
    display: flex;
    max-width: 1200px;
    
   
}

.box{
    border: 2px solid gray;
    flex-basis: 300px;
    /* flex-grow: 1; */
}

.box-1{
    background: lawngreen;
    flex-grow: 10;
   
}
.box-2{
    background: lightcoral;
    flex-grow: 2;

}
.box-3{
    background: fuchsia;
   
}
.box-4{
    background: aqua;
   
}
.box-5{
    background: rebeccapurple;
   
}